/* CSS stylesheet structure:

@ declarations
Font            @font-face
Media           @all @screen @print @tty

Elements
Body            body
Block           div header section footer
Text block      article, h1-h6, p, blockquote, code
Inline text     span, a, em, sub, sup
List            ol, ul, li, dl
Table           
Named IDs       #foo
named classes   .foo

Order of styles:
Display         display, visibility, z-index, float
Position        position, float, margin, padding, top
Dimensions      width, height
Border          border, outline
Background      background
Text            font, text, line-height, letter-spacing, color
List            list-style
Table           caption-side, empty-cells, table-layout */

* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

body {
    background-color: black;
}

h1, h2, a, p {
    text-align: center;
}

h1, h2 {
    color: white;
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2.625rem;
}

a {
    color: aquamarine;
}

p {
    font-size: 1.3125rem;
    color: gray
}

.copyright {
    text-align: right;
}